body {
    font-family: Arial, Helvetica, sans-serif;
    background: url('ch5images/background.jpg') no-repeat center fixed;
}
main {
    background-color: white;
    width: 50%;
    margin: auto;
}
header {
    background: url('ch5images/logo.png') no-repeat right;
    text-align: center;
    color: white;
    padding: 20px;
}
nav {
    font-weight: bold;
    text-align: center;
}
nav a {
    text-decoration: none;
    color: #29485d;
    padding: 10px;
}
nav a:hover {
    color: #ff5733;
}
h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', serif;
}
h3 {
    color: #29485d;
}
ul {
    list-style-image: url('ch5images/marker.gif');
}
li {
    line-height: 1.5;
}
footer {
    font-size: 75%;
    font-style: italic;
    text-align: center;
    font-family: Georgia, 'Times New Roman', serif;
    padding: 20px;
    background-color: white;
    width: 20%;
    margin: auto;
}
.web {
    font-weight: bold;
    color: red;
}
#contact {
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    background-color: #c7b2ae;
}
.attraction-image {
    max-width: 600px;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 20px 20px 10px grey;
}
